<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <form action="/books/addbook" method="post">
        Book Id: <input type = "text" name = "book_id" placeholder="Bookid" >
        <br>
        Book Name: <input type = "text" name = "book_name" placeholder="Book Name" >
        <br>
        Author: <input type = "text" name = "Author" placeholder="Author" >
        <br>
        Price: <input type = "text" name = "Price" placeholder="Price" >
        <br>
        Publisher: <input type = "text" name = "Publisher" placeholder="Publisher" >
        <br>
        <button type="submit" value="submit">Add Book</button>
    </form>
</body>
</html>